body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 30px;
}
span{
  color: tomato;
}
.fix{
  display: flex;
  margin-bottom: 150px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
  ;
}
.half-width img{
  width: 90%; 
}
.link-button{
  text-decoration: none;
  color:white;
  background-image: linear-gradient(orange,tomato);
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 700;
}
.top-banner{
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experi-enes{
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.website{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
}
#liner{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(234, 4, 255), rgb(47, 0, 255));
  border-image-slice: 1;
}
#asd{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(6, 86, 235), rgb(247, 0, 255));
  border-image-slice: 1;
}
footer{
  text-align: center;
}



  















